%display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%displaydos {
    display: flex;
    justify-content: space-between;
}

%displaytres {
    display: flex;
    justify-content: center;
}