$color-fondo: rgb(221, 185, 255);
$color-base: rgb(245, 245, 245);
$color-fuerte: rgb(175, 93, 156);
$color-tipografia: black;
//$color-fondoDark: rgb(76, 13, 61);
$color-fondoDark: rgb(92, 45, 81);
//$color-baseDark: rgb(177, 94, 255);
$color-baseDark: #572975;
$sombraLight: rgb(200, 141, 255);

$borde: 1px solid $color-fuerte;

$padding: 10px;

$transition: all 400ms ease;